<div class="container">
  <mat-card fxFill>
      <mat-card-content fxFill fxLayout="column" fxLayoutAlign="start center">
          <mat-card-title translate>About</mat-card-title>
          <mat-card-subtitle>subtitle</mat-card-subtitle>
          <div fxFlex></div>
          <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-raised-button routerLink="/user" routerLinkActive="active" color="primary">
                  <span translate>Prev</span>
              </button>
          </div>
      </mat-card-content>
  </mat-card>
</div>
