@import "src/theme/theme-variables";

.container {
  text-align: center;
  padding: 1em;
}

.spacer {
  height: 1em;
  width: 1em;
}

@media ($mat-xsmall) {
  .container {
    text-align: center;
    padding: 0;
  }
}
