<div class="container">
    <mat-card>
        <mat-card-content fxLayout="row" fxLayoutAlign="start center">
            <img class="logo" src="assets/tieto-logo.png" alt="Tieto logo" />
            <div class="spacer"></div>
            <mat-card-title translate>Ajanvaraus</mat-card-title>
        </mat-card-content>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let subject of subjects">
                  <span translate>{{subject.code}}</span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
