<div class="container">
    <mat-card>
        <mat-card-content fxLayout="row" fxLayoutAlign="start center">
            <img class="logo" src="assets/sp-logo.jpeg" alt="Säästöpankki logo" />
            <div class="spacer"></div>
        </mat-card-content>
    </mat-card>
    <!-- <div class="spacer"></div> -->
    <mat-card>
        <mat-card-content>
            <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step>
                    <ng-template matStepLabel>Aihe</ng-template>
                    <div class="spacer" fxHide.lt-md></div>
                    <div class="left">Donec orci sem, fermentum nec ipsum et, molestie eleifend ipsum. Sed vitae fermentum felis, ac ultrices mauris. Pellentesque sit amet.</div>
                    <div class="spacer"></div>
                    <div class="spacer" fxHide.lt-md></div>
                    <mat-selection-list #subjectSelectionList class="">
                        <mat-list-option *ngFor="let subject of subjects" (click)=subjectSelected(subject) [selected]="subject === selectedSubject">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <div class="left" fxFlex translate>{{subject.code}}</div>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-list-option>
                    </mat-selection-list>
                    <div class="spacer-5"></div>
                    <div>
                        <button mat-raised-button color="primary" [disabled]="!selectedSubject" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Paikka</ng-template>
                    <div class="spacer" fxHide.lt-md></div>
                    <div class="left">Nunc imperdiet, urna ut ultrices pellentesque, sem ex accumsan mauris, sit amet dapibus dolor arcu ut odio. Nunc ultrices arcu.</div>
                    <div class="spacer"></div>
                    <div class="spacer" fxHide.lt-md></div>
                    <mat-selection-list #placeSelectionList class="">
                        <mat-list-option *ngFor="let place of places" (click)=placeSelected(place) [selected]="place === selectedPlace">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <div class="left" fxFlex translate>{{place.code}}</div>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-list-option>
                    </mat-selection-list>
                    <div class="spacer-5"></div>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious><span translate>Back</span></button>
                        <button mat-raised-button color="primary" [disabled]="!selectedPlace" matStepperNext><span translate>Next</span></button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Aika</ng-template>
                    <div class="spacer" fxHide.lt-md></div>
                    <div class="left">Ut et leo consequat, sollicitudin purus sit amet, feugiat lacus. Nullam vitae sapien mattis, rutrum justo vel, cursus velit. Donec.</div>
                    <div class="spacer"></div>
                    <div class="spacer" fxHide.lt-md></div>
                    <mat-grid-list cols="4" rowHeight="100px">
                        <mat-grid-tile *ngFor="let time of times">
                            <div fxLayout="column">
                                <div>{{time.time | date:'fullDate'}}</div>
                                <div class="left">{{time.length}} <span>min</span></div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <!-- <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Valitse päivä">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field> -->
                    <div class="spacer-5"></div>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious><span translate>Back</span></button>
                        <button mat-raised-button color="primary" matStepperNext><span translate>Next</span></button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Toimihenkilö</ng-template>
                    <div class="spacer" fxHide.lt-md></div>
                    <div class="left">Maecenas at imperdiet risus, a viverra arcu. Quisque ut fringilla turpis. Nam dapibus a lectus congue porta. Fusce eu elit.</div>
                    <div class="spacer"></div>
                    <div class="spacer" fxHide.lt-md></div>
                    <div class="spacer-5"></div>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious><span translate>Back</span></button>
                        <button mat-raised-button color="primary" matStepperNext><span translate>Next</span></button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Valmis</ng-template>
                    You are now done.
                    <div class="spacer-5"></div>
                    <div>
                        <button mat-button color="primary" matStepperPrevious><span translate>Back</span></button>
                        <button mat-button color="primary" (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>

            <!-- <div>fxHide.sm<span fxHide.sm> VISIBLE</span></div>
            <div>fxHide.md<span fxHide.md> VISIBLE</span></div>
            <div>fxHide.lg<span fxHide.lg> VISIBLE</span></div>
            <div>fxHide.xl<span fxHide.xl> VISIBLE</span></div>
            <div>fxHide.lt-sm<span fxHide.lt-sm> VISIBLE</span></div>
            <div>fxHide.lt-md<span fxHide.lt-md> VISIBLE</span></div>
            <div>fxHide.lt-lg<span fxHide.lt-lg> VISIBLE</span></div>
            <div>fxHide.lt-xl<span fxHide.lt-xl> VISIBLE</span></div>
            <div>fxHide.gt-xs<span fxHide.gt-xs> VISIBLE</span></div>
            <div>fxHide.gt-sm<span fxHide.gt-sm> VISIBLE</span></div>
            <div>fxHide.gt-md<span fxHide.gt-md> VISIBLE</span></div>
            <div>fxHide.gt-lg<span fxHide.gt-lg> VISIBLE</span></div> -->

            <!-- <mat-selection-list>
                <mat-list-option *ngFor="let subject of subjects" (click)=selected()>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <h4 fxFlex translate>{{subject.code}}</h4>
                        <mat-icon matListIcon>chevron_right</mat-icon>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-option>
            </mat-selection-list> -->

        </mat-card-content>
    </mat-card>
</div>
