@import "src/theme/theme-variables";

.container {
  text-align: center;
  padding: 1em;
  min-height: 400px;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.spacer {
  height: 1em;
  width: 1em;
}

@media ($mat-xsmall) {
  .container {
    text-align: center;
    padding: 0;
  }
}
